<div class="memos">
    <ul>
        <li class="memo_create">
            <%= form_for(@memo) do |f| %>
                <div><%= f.text_field :title, class: "add_text", :placeholder => "タイトル" %><%= f.submit '追加', class: "add_submit" %></div>
            <% end %>
        </li>
        <% @memos.each do |memo| %>
            <li>
                <div class="memos_title"><%= memo.title %><%= link_to '', edit_memo_path(memo) %></div>
            </li>
        <% end %>
        
    </ul>
</div>
